body {
    background: #f9f9f9;
}

.debug {
    border: solid 1px fuchsia;
}

.ico {
    width: 20px;
    height: 20px;
}

/*   Session Card   */

.form-control {
    height: 80px;
}

.buttonSession:hover{
    color: #343a40;
    font-weight: bold;
    border-color: #343a40;
}

textarea{
    background-color: #f9f9f9;
    margin-bottom: 10px;
}